/* Communs */
*, 
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #003566;
  color: white;
  font-family: Arial;
}

::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

a:link{
  text-decoration:none;
  color:#8C52FF;
}

header {
  padding: 10% 5%;
  color: white;
  opacity: 90%;
}

h1 {
  border-top: solid 2px #E5E5E5;
  padding-top: 5%;
  text-align: center;
  font-size: 5vw; /* Utilisation de vw (viewport width) pour la taille de la police */
}

#subtitle {
  border-bottom: solid 2px #E5E5E5;
  padding-bottom: 5%;
  text-align: center;
  font-size: 2vw; /* Utilisation de vw pour la taille de la police */
}

/* ... Autres styles ... */

@media screen and (min-width: 768px) {
  header {
    padding: 5% 10%;
  }

  h1 {
    font-size: 5vw;
  }

  #subtitle {
    font-size: 1.5vw;
  }
}

.titres{
  background-color:#000814;
  padding:50px;
  text-align:center;
  font-size:45px;
}

.grille_rea{
  display:grid;
  overflow: hidden;
  max-width:1400px;
  width:80%;
  height:auto;
  margin:50px auto;
  justify-content: center;
  grid-gap:10px;
}

@media screen and (min-width: 480px) {
  .grille_rea{
    grid-template-columns: repeat(1,300px);
    /* grid-template-rows: repeat(2,450px); */
  } 
}

@media screen and (min-width: 1024px) {
  .grille_rea{
    grid-template-columns: repeat(3,300px);
    /* grid-template-rows: repeat(1,450px); */

  } 
}

.img-carte{
  border-radius:10px;
}

.infos-cartes{
  padding-top:30px; 
  padding-left:10px;
  text-align: left;
}

span{
  font-weight:lighter;
}

.title-card{
  padding-top: 5px;
  padding-bottom: 5px;
}

.cards{
  text-align:center;
  height:400px;
  border-radius:15px;
  background-color:#001D3D;
}

.grille_perso{
  margin-top: 50px;
  display: grid;
  height:auto;
  padding-top:25px;
  padding-bottom:50px;
}

@media screen and (min-width: 480px) {
  .grille_perso{
    grid-template-columns: repeat(2,1fr);
  } 
}

@media screen and (min-width: 1024px) {
  .grille_perso{
    grid-template-columns: repeat(2,auto);
  } 
}

#ID{
  border-radius: 25px;
}

@media screen and (min-width:480px){
  #ID{
    height:100%;
    width:100%;
  }
}

@media screen and (min-width:1024px){
  #ID{
    margin-left: 10px;
    height:95%;
    width:95%;
  }
}

#apropos{
  display: flex; 
  max-width: 95%;
  max-height: 90%;
  font-size:25px;
  padding-left: 25px;
}

#mail{
  justify-self:flex-end;
  height:auto;
  padding:15px;
  margin-top:25px;
  margin-bottom:25px;
  border-radius:15px;
  color:black;
  background-color:#E5E5E5;
}

#réseaux{
  width: fit-content;
  height:fit-content;
  padding: 10px;
  border-radius: 1rem;
  background-color: #FFC300;
}

.foot{
  display: grid;
  grid-template-columns: repeat(2,auto);
  padding:30px;
  background-color: #000814;
}